@import '~antd/dist/antd.css';

body {
  background-color: #F5C798;
  text-align: center;
  font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.prompt {
  font-size: 24px;
  padding: 16px;
}

.title {
  font-size: 32px;
  padding: 32px 0 16px 0;
}
